*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

.user-form {
  margin: 10vh 25vw 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.user-form * {
  margin: .25rem 0 0;
}

.user-form__header {
  width: 100%;
  background-color: lightskyblue;
  color: white;
  padding: .5rem;
  text-align: right;
}

.user-form__info-text {
  text-align: center;
  word-break: break-all;
}

.user-form__input {
  width: 50%;
  height: 2rem;
  padding: 0 .25rem;
}

.user-form__submit-button {
  height: 2rem;
  padding: .25rem .5rem;
  background-color: lightskyblue;
  color: white;
  font-weight: bold;
}

.user-form__submit-button--logout {
  background-color: 	#FAB387;
}

.user-form__submit-button--logout:hover {
  background-color: 	#FF7973;
}

.user-form__tip--error {
  text-align: center;
  color: red;
  font-size: .75rem;
  font-weight: bold;
}

.fetch-spinner {
  margin: 10vh 25vw;
  height: 40vh;
  width: 40vw;
  background-color: lightgrey;
}

.app-container {
  display: flex;
  flex-direction: row;
  padding-top: 10%;
}

.app-container__info-text {
  text-align: center;
  word-break: break-all;
}

.user-navbar {
  display: flex;
  flex-flow: column nowrap;
  width: 15rem;
}

.user-navbar__link {
  display: block;
  height: 2rem;
  margin: 0 0 2px 2px;
  padding: .5rem .5rem;
  background-color: lightskyblue;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: bold;
}

.user-navbar__link:hover {
  background-color: #4D98C1;
}

.app-container__main-section {
  width: calc(100% - 18rem);
  margin: 0 .5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.app-container__header {
  width: 100%;
  height: 2rem;
  background-color: lightskyblue;
  color: white;
  padding: .25rem 1rem;
  font-style: italic;
  text-align: right;
}

.calculator-layout {
  width: 100%;
  border: .5rem solid #F7F7F7;
  border-radius: .5rem;
  background-color: lightskyblue;
  padding: .5rem;
}

.calculator__textarea {
  height: 400px;
  margin: 0;
  padding: .25rem;
  border: .5rem solid #F7F7F7;
  border-radius: .25rem;
  background-color: #999999;
  color: #FFF;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 1.7;
  overflow: none;
}

.calculator__textarea--input {
  width: 75%;
}

.calculator__textarea--output {
  width: 25%;
}

.operation-item__button {
  height: 2rem;
  padding: .25rem .5rem;
  background-color: #F7F7F7;
  font-weight: bold;
}

.operation-item__button--refresh {
  width: 20%;
  padding: .25rem;
  background-color: 	#FAB387;
  color: white;
}

.operation-item__button--refresh:hover {
  background-color: 	#FF7973;
}
